.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 30px;
  background: rgba(245, 245, 245, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar-left {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.navbar-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.navbar-slogan {
  margin: 4px 0 0;
  font-size: 14px;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.view-switch {
  display: inline-flex;
  background-color: #fff8de;
  border: 2px solid #e5e5dc;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 13px;
}

.switch-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.switch-btn.active {
  background-color: #7195ff;
  color: black;
}

.add-task-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 13px;
  background-color: #7195ff;
  color: black;;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.add-task-btn:hover {
  background-color: #8ca9ff;
}
